.about-section {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: flex-start;
  column-gap: 2rem;

  padding-top: 4rem;
}

.about-section-img {
  display: flex;
  justify-content: flex-end;
}

.about-section-img > img {
  width: 90%;
  max-width: 400px;
  filter: grayscale(100%);
  object-fit: contain;
  cursor: pointer;
  transition: filter 0.15s ease-in-out;
}

.about-section-img > img:hover {
  filter: grayscale(0%);
}

.about-section-title {
  font-family: var(--suprtall);
  font-size: 8rem;
  margin-top: 1.5rem;
}

.about-section-subtitle {
  font-family: var(--usiversltsdLight);
  font-size: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2rem;
}

.about-section-heading {
  font-family: var(--suprtall);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about-section-desc {
  font-family: var(--usiversltsd);
  line-height: 1.6;
  font-size: 1.25rem;
  max-width: 70ch;
}

.about-second-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding-top: 4rem;
}

.about-second-section > img {
  width: 90%;
  max-width: 320px;
}

.contact-btn-container {
  display: flex;
  align-items: flex-end;
}

.contact-btn {
  display: block;
  padding: 1rem 2rem;
  font-family: var(--suprtall);
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--white-clr);
  background-color: var(--grey-clr);
  border-radius: 2px;
  margin-left: 2rem;

  transition: background-color 0.15s ease-in-out;
}

.contact-btn:hover {
  background-color: var(--dark-grey-clr);
}

/* 1180px */
@media (max-width: 1180px) {
  .about-section {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    max-width: 720px;
    width: 80%;
    margin: 0 auto;
  }
}

/* 1024 */
@media (max-width: 1024px) {
  .about-section {
    column-gap: 1rem;
  }

  .about-section-heading {
    font-size: 2.5rem;
  }

  .about-section-desc {
    max-width: 55ch;
  }

  .contact-btn {
    margin-left: 2rem;
  }
}

@media (max-width: 800px) {
  .about-second-section {
    max-width: 600px;
    margin: 0 auto;
  }

  .about-second-section,
  .about-section {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .about-second-section > img {
    margin: 0 auto;
  }

  .contact-btn-container {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-end;
  }

  .contact-btn {
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .about-section {
    width: 90%;
  }
}
