.work-header-bg {
  background: url('../img/apparel/LA_Image2.webp');

  background-size: cover;
  background-position: center center;
}

@media (max-width: 800px) {
  .work-header-bg {
    background: url('../img/apparel/Apparel_Mobile_container.webp');

    background-size: cover;
    background-position: center center;
  }
}
