.bb-hypersphere {
  background: url('../img/BB/BB_HYPER_Main_Container.webp');

  background-size: cover;
  background-position: center center;
}

.background-development-section {
  background: url('../../img/BB/BB_Hypershere_Pattern_Wall.webp');

  background-size: cover;
  background-position: center center;

  height: 90vh;
  margin-top: 3rem;
}

.bb-illustration-development {
  padding-bottom: 8rem;
}

.bb-illustration-img {
  margin-top: -12rem;
}

.bb-packaging-elements {
  padding-bottom: 3rem;
}
