.work-header-bg {
  background: url('../img/branding/NYC_ImageV2.png');

  background-size: cover;
  background-position: center center;
}

@media (max-width: 800px) {
  .work-header-bg {
    background: url('../img/branding/Branding_Mobile_container.webp');

    background-size: cover;
    background-position: center center;
  }
}
