.charge {
  background: url('../img/charge/Charge_Main_Container.webp');

  background-size: cover;
  background-position: center center;
}

@media (max-width: 800px) {
  .charge {
    background: url('../img/charge/Charge_Main_Container.webp');

    background-size: cover;
    background-position: center center;
  }
}
