.cybear {
  background: url('../img/cybear/cybear_main_container.png');

  background-size: cover;
  background-position: center center;
}

.desktop-img {
  display: block;
}

.mobile-img {
  display: none;
}

@media (max-width: 800px) {
  .cybear {
    background: url('../img/cybear/CYBEAR_Mobile_Containers.png');
    background-size: cover;
    background-position: center center;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }
}
