/* header */
.header-main {
  position: relative;
}

header {
  height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-logo {
  margin-top: 5rem;
  max-width: 30rem;
  width: 80%;
}

.slideup {
  opacity: 1;
  transform: translateY(0px);
}

.tagline {
  color: var(--white-clr);
  font-family: var(--usiversltsdLight);
  font-weight: lighter;
  margin-top: 1rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 3rem;
  margin-left: 14px;
  opacity: 0;
}

.fadein-animation {
  animation: fade-in-animation 3s ease-in-out forwards;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* hustle everyday section */

.section-one {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-content: center;
}

.section-one-left-col,
.section-one-right-col {
  grid-row: 1/-1;
}

.section-one-left-col {
  grid-column: 1/10;
}

.section-one-right-col {
  grid-column: 8/-1;
  z-index: -1;
}

.section-one-title {
  font-size: 4rem;
  font-family: var(--suprtall);
  font-weight: bold;
  margin-bottom: 1rem;
}

/* projects section */
.projects-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  column-gap: 2rem;
  row-gap: 2rem;
}

.project {
  position: relative;
}

.project-link {
  display: inline-block;
  color: var(--white-clr);

  transition: transform 0.15s ease-in-out, filter 0.15s ease-in-out;
}

.project-link:hover {
  transform: translateY(-10px);
  filter: brightness(120%);
}

.project-text {
  position: absolute;
  z-index: 5;
  top: 15%;
  left: 6%;
}

.project-title {
  font-family: var(--suprtall);
  font-size: 6rem;
  text-transform: uppercase;

  position: relative;
}

.project-desc {
  font-family: var(--usiversltsdLight);
  letter-spacing: 3px;
  font-size: 2rem;
  text-transform: uppercase;
}

.project-title::before {
  font-family: var(--usiversltsdLight);
  letter-spacing: 4px;
  font-size: 1.25rem;

  position: absolute;

  top: -20px;
  left: -18.5px;
}

.branding::before {
  content: '01';
}

.illustration::before {
  content: '02';
}

.apparel::before {
  content: '03';
}

.shop::before {
  content: '04';
}

/* clients section */
.clients-served {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 2rem;

  align-content: center;
}

.clients-served-title {
  grid-column: 1/-1;
}

.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-logo > img {
  width: 90%;
  height: 70px;
  object-fit: contain;
  max-width: 80px;

  transition: transform 0.15s ease-in-out, filter 0.15s ease-in-out;
}

.client-logo > img:hover {
  transform: translateY(-5px);
  filter: brightness(150%);
}

/* 1280px */
@media (max-width: 1280px) {
  .section-one-left-col {
    grid-column: 1/10;
  }
  .section-one-right-col {
    grid-column: 7/-1;
  }
}

/* 1170px */
@media (max-width: 1170px) {
  .projects-section {
    grid-template-columns: 1fr;
  }

  .project {
    max-width: 600px;
    margin: 0 auto;
  }

  .clients-served {
    max-width: 600px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 1130px */
@media (max-width: 1130px) {
  .section-one-left-col {
    grid-column: 1/10;
  }
  .section-one-right-col {
    grid-column: 6/-1;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .section-one {
    grid-template-rows: 1fr auto;
  }

  .section-one-left-col {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .section-one-right-col {
    grid-column: 1/-1;
    grid-row: 2/-1;
  }

  .section-one-left-col,
  .section-one-right-col {
    max-width: 600px;
    margin: 0 auto;
  }
}

/* 640px */
@media (max-width: 640px) {
  .tagline {
    font-size: 2.5rem;
  }

  .project-title {
    font-size: 4rem;
  }

  .project-title::before {
    font-size: 1.25rem;
    top: -18.5px;
    left: -16.5px;
  }

  .clients-served {
    row-gap: 3rem;
  }

  .client-logo > img {
    height: 40px;
  }
}

/* 460px */
@media (max-width: 530px) {
  .clients-served {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }

  .client-logo > img {
    height: 50px;
  }
}

/* 390px */
@media (max-width: 390px) {
  .tagline {
    font-size: 2rem;
  }

  .project-title {
    font-size: 3rem;
  }

  .client-logo > img {
    height: 30px;
  }
}

/* 350px */
@media (max-width: 350px) {
  .tagline {
    font-size: 1.5rem;
  }

  .project-title {
    font-size: 3rem;
  }

  .project-title::before {
    font-size: 1rem;
    top: -15px;
    left: -13.5px;
  }

  .project-desc {
    font-size: 1rem;
  }
}
