.work-header-bg {
  background: url('../img/illustration/ATL_Image1.png');

  background-size: cover;
  background-position: center center;
}

@media (max-width: 800px) {
  .work-header-bg {
    background: url('../img/illustration/Illustration_Mobile_container.webp');

    background-size: cover;
    background-position: center center;
  }
}
