.kip-gil {
  background: url('../img/kg/KG_Main_Container.png');

  background-size: cover;
  background-position: center center;
}

.desktop-img {
  display: block;
}

.mobile-img {
  display: none;
}

.kg-carousel-el {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.kg-carousel-el-1 {
  background-image: url('../img/kg/KG_Slider1.png');
  background-size: 90%;
}

.kg-carousel-el-2 {
  background-image: url('../img/kg/KG_Slider2.png');
}

.kg-carousel-el-3 {
  background-image: url('../img/kg/KG_Slider3.png');
}

.kg-carousel-el-4 {
  background-image: url('../img/kg/KG_Slider4.png');
}

@media (max-width: 800px) {
  .kip-gil {
    background: url('../img/kgMob/KG_Mobile_Container.png');
    background-size: cover;
    background-position: center center;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }
}
