.logos {
  background: url('../img/logos/Logos_Main_Container.png');

  background-size: cover;
  background-position: center center;
}

.logos-carousel .carousel-el > img {
  width: 85%;
}

@media (max-width: 800px) {
  .logos {
    background: url('../img/logos/Logos_Main_Container.png');

    background-size: cover;
    background-position: center center;
  }
}
