.logos {
  background: url('../img/logos/Logos_Main_Container.png');

  background-size: cover;
  background-position: center center;
}

.logos-carousel {
  padding: 2rem 0;
}

.logos-carousel .carousel-el > img,
.carousel-title {
  max-width: 1150px;
  width: 97.5%;
}

.carousel {
  height: 700px;

  position: relative;
}

.carousel-el {
  height: 100%;
}

.carousel-title {
  margin: 0 auto;
}

.logos-section-title {
  padding-bottom: 4rem;
}

.logo-strip-4-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;

  flex-wrap: wrap;
}

.logo-strip-4-col:last-child {
  margin-bottom: 2rem;
}

.logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
  transition: filter 0.2s ease-in-out;
}

.logo-img > img {
  display: inline-block;
  width: 180px;
  height: 75px;
  object-fit: contain;
}

#large-img {
  height: 90px;
}

#small-img {
  height: 60px;
}

.colored {
  filter: grayscale(0%);
}

@media (max-width: 1366px) {
  .carousel {
    height: 600px;
  }

  .logos-carousel .carousel-el > img,
  .carousel-title {
    width: 85%;
  }
}

@media (max-width: 960px) {
  .carousel {
    height: 500px;
  }
}

@media (max-width: 800px) {
  .logos {
    background: url('../img/logos/Logos_Main_Container.png');

    background-size: cover;
    background-position: center center;
  }

  .logo-strip-4-col {
    margin-bottom: 0;
  }

  .logo-img {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    filter: grayscale(0%);
  }

  .logo-img > img {
    margin-bottom: 0;
  }
}

@media (max-width: 720px) {
  .carousel {
    height: 450px;
  }

  .logo-img {
    width: 240px;
  }

  .logo-img > img {
    height: 65px;
  }

  #large-img {
    height: 80px;
  }

  #small-img {
    height: 50px;
  }
}

@media (max-width: 632px) {
  .carousel {
    height: 450px;
  }
}

@media (max-width: 600px) {
  .carousel {
    height: 380px;
  }
}

@media (max-width: 526px) {
  .carousel {
    height: 300px;
  }

  .project-title {
    font-size: 2.5rem;
  }

  .logo-img {
    width: 200px;
    height: 120px;
  }

  .logo-img > img {
    height: 50px;
  }

  #large-img {
    height: 75px;
  }

  #small-img {
    height: 45px;
  }
}

@media (max-width: 440px) {
  .carousel {
    height: 220px;
  }

  .logo-img {
    width: 180px;
  }

  .logo-img > img {
    height: 45px;
  }

  #large-img {
    height: 70px;
  }

  #small-img {
    height: 30px;
  }
}

@media (max-width: 396px) {
  .logo-img {
    width: 150px;
    height: 100px;
  }

  .logo-img > img {
    height: 40px;
  }
}

@media (max-width: 333px) {
  .carousel {
    height: 200px;
  }

  .logo-img {
    width: 120px;
  }

  .logo-img > img {
    height: 35px;
  }
}
