.metatuners {
  background: url('../img/metatuners/META_TUNERS_Main_Container.png');

  background-size: cover;
  background-position: center center;
}

.metatuners-flex-imgs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.metatuners-flex-imgs img {
  width: 100%;
}

.charector-desktop {
  display: block;
}
.charector-mobile {
  display: none;
}

@media (max-width: 800px) {
  .metatuners {
    background: url('../img/metatunersMobile/Meta_Tuners_Mobile_Container.png');
    background-size: cover;
    background-position: center center;
  }

  .metatuners-flex-imgs {
    flex-direction: column;
  }

  .charector-desktop {
    display: none;
  }
  .charector-mobile {
    display: block;
  }
}
