.mmpr {
  background: url('../img/mmpr/MMPR_Main_Container.webp');

  background-size: cover;
  background-position: center center;
}

.mmpr-img-1 {
  max-width: 1000px;
}

.zord-ill-mobile {
  display: none;
}

.mmpr-carousel-el {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.mmpr-carousel-el-1 {
  background-image: url('../img/mmpr/sliderA/MMPR_SliderA_1.webp');
}

.mmpr-carousel-el-2 {
  background-image: url('../img/mmpr/sliderA/MMPR_SliderA_2.webp');
}

.mmpr-carousel-el-3 {
  background-image: url('../img/mmpr/sliderA/MMPR_SliderA_3.webp');
}

.mmpr-carousel-el-4 {
  background-image: url('../img/mmpr/sliderA/MMPR_SliderA_4.webp');
}

.mmpr-carousel-el-5 {
  background-image: url('../img/mmpr/sliderA/MMPR_SliderA_5.webp');
}

.mmpr-carousel-el-6 {
  background-image: url('../img/mmpr/sliderA/MMPR_SliderA_6.webp');
}

.mmpr-carousel-el-7 {
  background-image: url('../img/mmpr/sliderA/MMPR_SliderA_7.webp');
}

.mmpr-carousel-el-2-1 {
  background-image: url('../img/mmpr/sliderB/MMPR_SliderB_1.webp');
}

.mmpr-carousel-el-2-2 {
  background-image: url('../img/mmpr/sliderB/MMPR_SliderB_2.webp');
}

.mmpr-carousel-el-2-3 {
  background-image: url('../img/mmpr/sliderB/MMPR_SliderB_3.webp');
}

.mmpr-carousel-el-2-4 {
  background-image: url('../img/mmpr/sliderB/MMPR_SliderB_4.webp');
}

.mmpr-carousel-el-2-5 {
  background-image: url('../img/mmpr/sliderB/MMPR_SliderB_5.webp');
}

.mmpr-carousel-el-2-6 {
  background-image: url('../img/mmpr/sliderB/MMPR_SliderB_6.webp');
}

@media (max-width: 800px) {
  .mmpr {
    background: url('../img/mmpr/MMPR_Container_Mobile.webp');
    background-size: cover;
    background-position: center center;
  }

  .zord-ill-desktop {
    display: none;
  }

  .zord-ill-mobile {
    display: block;
  }
}
