.mmpr {
  background: url('../img/mmpr/MMPR_Main_Container.png');

  background-size: cover;
  background-position: center center;
}

.mmpr-img-1 {
  max-width: 1000px;
}

.zord-ill-mobile {
  display: none;
}

@media (max-width: 800px) {
  .mmpr {
    background: url('../img/mmpr/MMPR_Container_Mobile.png');
    background-size: cover;
    background-position: center center;
  }

  .zord-ill-desktop {
    display: none;
  }

  .zord-ill-mobile {
    display: block;
  }
}
