.nfl {
  background: url('../img/nfl/NFL_Main_Container.webp');

  background-size: cover;
  background-position: center center;
}

.nfl-carousel-el {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.nfl-carousel-el-1 {
  background-image: url('../img/nfl/NFL_Slider1.webp');
}

.nfl-carousel-el-2 {
  background-image: url('../img/nfl/NFL_Slider2.webp');
}

.nfl-carousel-el-3 {
  background-image: url('../img/nfl/NFL_Slider3.webp');
}

.nfl-carousel-el-4 {
  background-image: url('../img/nfl/NFL_Slider4.webp');
}

@media (max-width: 800px) {
  .nfl {
    background: url('../img/nfl/NFL_Main_Container.webp');

    background-size: cover;
    background-position: center center;
  }
}
