.ow {
  background: url('../img/OW/OW_Main_Container.webp');

  background-size: cover;
  background-position: center center;
}

.truckwrap-images {
  align-items: center;
}

.ow-labels {
  padding: 0;
}

@media (max-width: 800px) {
  .ow {
    background: url('../img/OW/OW_Container_Main.webp');

    background-size: cover;
    background-position: center center;
  }
}
