.ow {
  background: url('../img/OW/OW_Main_Container.webp');

  background-size: cover;
  background-position: center center;
}

.truckwrap-images {
  align-items: center;
}

.ow-labels {
  padding: 0;
}

.ow-carousel-el {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.ow-carousel-el-1 {
  background-image: url('../img/OW/Slider_Image1.webp');
}

.ow-carousel-el-2 {
  background-image: url('../img/OW/Slider_Image2.webp');
}

@media (max-width: 800px) {
  .ow {
    background: url('../img/OW/OW_Container_Main.webp');

    background-size: cover;
    background-position: center center;
  }
}
