.pon {
  background: url('../img/pon/PON_Main_Container.png');

  background-size: cover;
  background-position: center center;
}

.desktop-img {
  display: block;
}

.mobile-img {
  display: none;
}

@media (max-width: 800px) {
  .pon {
    background: url('../img/ponMob/PON_Mobile_Container.png');
    background-size: cover;
    background-position: center center;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }
}
