section {
  padding-top: 3rem;
}

.work-header-bg {
  min-height: 90vh;
  padding: 0;
}

.work-header {
  min-height: 90vh;
  width: 95%;
}

.project-text {
  padding-bottom: 3rem;
}

.project-title {
  font-family: var(--usiversltsdLight);
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.project-desc {
  font-family: var(--usiversltsd);
  line-height: 1.6;
  max-width: 90ch;
  width: 100%;
  font-size: 1.25rem;
}

.invert-colors {
  background-color: var(--white-clr);
  color: var(--black-clr);
  padding-bottom: 3rem;
}

.grid-three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
}

.grid-four-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
}

.grid-el-title {
  grid-column: 1/-1;
}

.grid-el {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-el > img {
  max-width: 320px;
  width: 90%;
  object-fit: contain;
}

.product-packaging-img {
  display: block;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.flex-images {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

#mx-w2 {
  max-width: 200px;
}

.mt-5 {
  margin-top: -5px;
}

.mt1 {
  margin-top: 1rem;
}

.mt-1 {
  margin-top: -1rem;
}

.mt-2 {
  margin-top: -45px;
}

.mb2 {
  margin-bottom: 2rem;
}

footer {
  margin-top: 0;
}

@media (max-width: 800px) {
  .work-header-bg {
    min-height: 65vh;
  }

  .work-header {
    min-height: 65vh;
  }

  .grid-three-col,
  .grid-four-col {
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 0 auto;
    row-gap: 1rem;
  }

  .grid-el-title {
    text-align: center;
  }

  .grid-el > img {
    max-width: 250px;
  }

  #mx-w3 {
    max-width: 300px;
  }
}

@media (max-width: 640px) {
  .grid-el > img {
    max-width: 200px;
  }

  .flex-images {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .project-title {
    font-size: 2.5rem;
  }

  .project-desc {
    font-size: 1rem;
  }

  .grid-el > img {
    max-width: 180px;
  }
}
