.shop-section {
  min-height: 75vh;
}

.shop-title {
  font-family: var(--suprtall);
  font-size: 10rem;
  letter-spacing: 1px;
  text-align: center;
}

@media (max-width: 800px) {
  .shop-title {
    font-size: 5rem;
  }

  .shop-section {
    min-height: 65vh;
  }
}
