.subiceez {
  background: url('../img/subiceez/Subiceez_Main_Container.png');

  background-size: cover;
  background-position: center center;
}

.grid-el {
  max-width: 500px;
}

.desktop-img {
  display: block;
}

.mobile-img {
  display: none;
}

.subiceez-carousel-el {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.subiceez-carousel-el-1 {
  background-image: url('../img/subiceez/Subiceez_Slder1.png');
}

.subiceez-carousel-el-2 {
  background-image: url('../img/subiceez/Subiceez_Slder2.png');
}

.subiceez-carousel-el-3 {
  background-image: url('../img/subiceez/Subiceez_Slder3.png');
}

.subiceez-carousel-el-4 {
  background-image: url('../img/subiceez/Subiceez_Slder4.png');
}

.subiceez-carousel-el-5 {
  background-image: url('../img/subiceez/Subiceez_Slder5.png');
}

.subiceez-carousel-el-6 {
  background-image: url('../img/subiceez/Subiceez_Slder6.png');
}

.subiceez-carousel-el-7 {
  background-image: url('../img/subiceez/Subiceez_Slder7.png');
}

@media (max-width: 800px) {
  .subiceez {
    background: url('../img/subiceez/subiceez_Mobile_Container.png');
    background-size: cover;
    background-position: center center;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }
}
