.triller {
  background: url('../img/triller/Triller_Main_container.webp');

  background-size: cover;
  background-position: center center;
}

.desktop-img {
  display: block;
}

.mobile-img {
  display: none;
}

.triller-carousel-el {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.triller-carousel-el-1 {
  background-image: url('../img/triller/Triller_Slider1.webp');
}

.triller-carousel-el-2 {
  background-image: url('../img/triller/Triller_Slider2.webp');
}

.triller-carousel-el-3 {
  background-image: url('../img/triller/Triller_Slider3.webp');
}

.triller-carousel-el-4 {
  background-image: url('../img/triller/Triller_Slider4.webp');
}

.triller-carousel-el-5 {
  background-image: url('../img/triller/Triller_Slider5.webp');
}

.triller-carousel-el-6 {
  background-image: url('../img/triller/Triller_Slider6.webp');
}

.triller-carousel-el-7 {
  background-image: url('../img/triller/Triller_Slider7.webp');
}

.triller-carousel-el-8 {
  background-image: url('../img/triller/Triller_Slider8.webp');
}

.triller-carousel-el-9 {
  background-image: url('../img/triller/Triller_Slider9.webp');
}

.triller-carousel-el-10 {
  background-image: url('../img/triller/Triller_Slider10.webp');
}

.triller-carousel-el-11 {
  background-image: url('../img/triller/Triller_Slider11.webp');
}

@media (max-width: 800px) {
  .triller {
    background: url('../img/trillerMob/Triller_Mobile_Container.webp');
    background-size: cover;
    background-position: center center;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }
}
