.triller {
  background: url('../img/triller/Triller_Main_container.png');

  background-size: cover;
  background-position: center center;
}

.desktop-img {
  display: block;
}

.mobile-img {
  display: none;
}

.triller-carousel-el {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.triller-carousel-el-1 {
  background-image: url('../img/triller/triller_Slider1.png');
}

.triller-carousel-el-2 {
  background-image: url('../img/triller/triller_Slider2.png');
}

.triller-carousel-el-3 {
  background-image: url('../img/triller/triller_Slider3.png');
}

.triller-carousel-el-4 {
  background-image: url('../img/triller/triller_Slider4.png');
}

.triller-carousel-el-5 {
  background-image: url('../img/triller/triller_Slider5.png');
}

.triller-carousel-el-6 {
  background-image: url('../img/triller/triller_Slider6.png');
}

.triller-carousel-el-7 {
  background-image: url('../img/triller/triller_Slider7.png');
}

.triller-carousel-el-8 {
  background-image: url('../img/triller/triller_Slider8.png');
}

.triller-carousel-el-9 {
  background-image: url('../img/triller/triller_Slider9.png');
}

.triller-carousel-el-10 {
  background-image: url('../img/triller/triller_Slider10.png');
}

.triller-carousel-el-11 {
  background-image: url('../img/triller/triller_Slider11.png');
}

@media (max-width: 800px) {
  .triller {
    background: url('../img/trillerMob/Triller_Mobile_Container.png');
    background-size: cover;
    background-position: center center;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }
}
