.ugaa {
  background: url('../img/ugaa/UGAA_Main_Container.png');

  background-size: cover;
  background-position: center center;
}

.ugaa-carousel-el {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.ugaa-carousel-el-1 {
  background-image: url('../img/ugaa/UGAA_Icons_Slider1.webp');
}

.ugaa-carousel-el-2 {
  background-image: url('../img/ugaa/UGAA_Icons_Slider1.webp');
}

.ugaa-carousel-el-3 {
  background-image: url('../img/ugaa/UGAA_Icons_Slider1.webp');
}

@media (max-width: 800px) {
  .ugaa {
    background: url('../img/ugaa/UGAA_Mobile_container.png');

    background-size: cover;
    background-position: center center;
  }
}
