:root {
  /* fonts */
  --suprtall: 'suprtall';
  --usiversltsd: 'usiversltsd';
  --usiversltsdLight: 'usiversltsdLight';

  /* colors */
  --white-clr: #fff;
  --black-clr: #000;
  --grey-clr: #333;
  --dark-grey-clr: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--black-clr);
  color: var(--white-clr);
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

section {
  padding-top: 4rem;
}

.section-title {
  font-size: 4rem;
  font-family: var(--suprtall);
}

.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

.hamburger,
.close-icon {
  display: none;
  font-size: 1.5rem;
  color: #fff;

  cursor: pointer;
}

.slide-in {
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}

.slide-in.appear {
  opacity: 1;
  transform: translateY(0px);
}

/* nav */

nav {
  background: #000;

  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;

  transition: opacity 1s ease-in-out;
  transition-delay: 0.2s;
}

.slidedown {
  opacity: 1;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 0;
}

.logo {
  transition: transform 0.1s ease-in-out;
}

.logo:hover {
  transform: scale(0.95);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  display: inline-block;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: var(--usiversltsdLight);
  color: var(--white-clr);
  text-transform: uppercase;
  text-decoration: none;

  transition: transform 0.15s ease-in-out;
}

.nav-link:hover {
  transform: translateY(-2px);
}

.nav-links > li {
  border-left: 3px solid var(--white-clr);
  padding-left: 1rem;
}
.nav-links > li:first-child {
  border-left: none;
  padding-left: 0;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.25rem;
}

.social-link {
  display: inline-block;

  transition: transform 0.15s ease-in-out;
}

.social-link:hover {
  transform: translateY(-2px);
}

/* scroll down image */
.scroll-down-img {
  position: absolute;
  left: 0;
  bottom: 5%;
  transform: translateY(-20px);
  opacity: 0;
}

.fade-in-down-animation {
  animation: fade-in-down 2.5s ease-in-out infinite;
  animation-delay: 3.5s;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* desc read more */
.desc-text {
  font-family: var(--usiversltsd);
  font-size: 1.25rem;
  line-height: 1.6;
}

.desc-text-mobile {
  display: none;
}

.read-more {
  color: var(--white-clr);
  font-weight: 500;
  cursor: pointer;
  display: none;
}

/* work header */
.work-header-bg {
  min-height: 100vh;

  padding-top: 0;
}

.work-header {
  position: relative;
  min-height: 100vh;

  width: 90%;
  margin: 0 auto;
}

/* footer */
footer {
  margin-top: 4rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
}

.footer-logo {
  max-width: 80px;
}

.footer-text {
  font-family: var(--usiversltsd);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.vertical-bar {
  display: inline-block;

  height: 18px;
  width: 1px;
  background-color: var(--white-clr);
}

.social-links-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-link-footer {
  transition: transform 0.15s ease-in-out;
}

.social-link-footer:hover {
  transform: translateY(-2px);
}

.social-link-footer > img {
  max-width: 20px;
}

/* preloader */
#preloader {
  background: #000;
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader-text {
  font-family: var(--suprtall);
  font-size: 4rem;
}

/* 1024px */
@media (max-width: 1024px) {
  .desc-text {
    display: none;
  }

  .desc-text-mobile {
    display: block;
    font-family: var(--usiversltsd);
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  .read-more-text {
    line-height: 1.6;
    display: none;
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
  }

  .read-more {
    display: inline-block;
  }

  .read-more-text {
    display: none;
    overflow: hidden;
  }

  .show-read-more {
    display: inline;
    height: auto;
  }
}

/* 800px */
@media (max-width: 800px) {
  .hamburger,
  .close-icon {
    display: block;
  }

  .nav-links {
    opacity: 0;
    transform: translateX(1000px);
    position: fixed;
    right: 0;
    top: 0;

    height: 100vh;
    width: 95%;
    max-width: 500px;
    background: var(--black-clr);
    flex-direction: column;
    justify-content: center;

    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .show-nav-links {
    transform: translateX(0px);
    opacity: 1;
  }

  .nav-link {
    font-size: 2.5rem;
  }

  .social-link > img {
    width: 20px;
  }

  .nav-links > li {
    border-left: none;
    padding-left: 0;
  }

  .close-icon {
    position: absolute;
    top: 5%;
    right: 5%;
  }
}

@media (max-width: 640px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
  }
}
