@font-face {
  font-family: 'SUPR-Tall';
  font-weight: normal;
  src: local('SUPR TALL'), url('../fonts/SUPR-Tall.woff2');
}
@font-face {
  font-family: 'SUPR-Tall';
  src: local('SUPR TALL'), url('../fonts/SUPR-Tall-Bold.woff2');
  font-weight: bold;
}
@font-face {
  font-family: 'UniversLTStd-LightCn';
  font-weight: normal;
  src: local('UniversLTStd-LightCn'), url('../fonts/UniversLTStd-LightCn.woff2');
}
@font-face {
  font-family: 'UniversLTStd-LightUltraCn';
  font-weight: normal;
  src: local('UniversLTStd-LightUltraCn'),
    url('../fonts/UniversLTStd-LightUltraCn.woff2');
}
:root {
  --suprtall: 'SUPR-Tall';
  --usiversltsd: 'UniversLTStd-LightCn';
  --usiversltsdLight: 'UniversLTStd-LightUltraCn';
  --white-clr: #fff;
  --black-clr: #000;
  --grey-clr: #333;
  --dark-grey-clr: #222;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: var(--black-clr);
  color: var(--white-clr);
}
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}
section {
  padding-top: 4rem;
}
.section-title {
  font-size: 4rem;
  font-family: var(--suprtall);
}
.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}
.hamburger,
.close-icon {
  display: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}
.slide-in {
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}
.slide-in.appear {
  opacity: 1;
  transform: translateY(0px);
}
.p3 {
  padding: 3rem 0;
}
.pt0 {
  padding-top: 0;
}
nav {
  background: #000;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transition-delay: 0.75s;
}
.slidedown {
  opacity: 1;
  z-index: 10;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
.logo {
  transition: transform 0.1s ease-in-out;
}
.logo:hover {
  transform: scale(0.95);
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-link {
  display: inline-block;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: var(--usiversltsdLight);
  color: var(--white-clr);
  text-transform: uppercase;
  text-decoration: none;
  transition: transform 0.15s ease-in-out;
  padding-top: 0.25rem;
}
.nav-link:hover {
  transform: translateY(-2px);
}
.nav-links > li {
  border-left: 3px solid var(--white-clr);
  padding-left: 1rem;
}
.nav-links > li:first-child {
  border-left: none;
  padding-left: 0;
}
.social-links {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-top: 0.25rem;
}
.social-link {
  display: inline-block;
  transition: transform 0.15s ease-in-out;
}
.social-link:hover {
  transform: translateY(-2px);
}
.scroll-down-img {
  position: absolute;
  left: 0;
  bottom: 1%;
  transform: translateY(-20px);
  opacity: 0;
}
.fade-in-down-animation {
  animation: fade-in-down 2.5s ease-in-out infinite;
  animation-delay: 3.5s;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.desc-text {
  font-family: var(--usiversltsd);
  font-size: 1.25rem;
  line-height: 1.6;
}
.desc-text-mobile {
  display: none;
}
.read-more {
  color: var(--white-clr);
  font-weight: 500;
  cursor: pointer;
  display: none;
}
.work-header-bg {
  min-height: 75vh;
  padding-top: 0;
}
.work-header {
  position: relative;
  min-height: 75vh;
  width: 90%;
  margin: 0 auto;
}
footer {
  margin-top: 4rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.footer-logo {
  max-width: 80px;
}
.footer-text {
  font-family: var(--usiversltsd);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.vertical-bar {
  display: inline-block;
  height: 18px;
  width: 1px;
  background-color: var(--white-clr);
}
.social-links-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-link-footer {
  transition: transform 0.15s ease-in-out;
}
.social-link-footer:hover {
  transform: translateY(-2px);
}
.social-link-footer > img {
  max-width: 20px;
}
#next-project-mobile {
  display: none;
}
.work-pre-hover-img {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}
.work-hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}
.work-project:hover .work-pre-hover-img {
  opacity: 0;
}
.work-project:hover .work-hover-img {
  opacity: 1;
  cursor: pointer;
}
#preloader {
  background: #000;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#preloader-home {
  background: #000;
  height: 100vh;
  width: 100%;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.preloader-text {
  font-family: var(--suprtall);
  font-size: 4rem;
}
.preloader-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader-video > video {
  max-width: 30rem;
  width: 80%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-section {
  width: 100%;
  max-width: 700px;
  position: relative;
  transition: transform 0.15s ease-in-out, filter 0.15s ease-in-out;
}
.next-section:hover {
  transform: translateY(-10px);
  filter: brightness(120%);
}
.next-section-link {
  color: var(--white-clr);
  text-decoration: none;
}
.next-section-title {
  font-family: var(--suprtall);
  font-size: 8rem;
  position: absolute;
  top: 2.5rem;
  left: 2rem;
}
.next-section-subtitle {
  font-family: var(--usiversltsdLight);
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  top: 9rem;
  left: 2rem;
}
.next-section-title::before {
  font-family: var(--usiversltsdLight);
  font-size: 2rem;
  letter-spacing: 3px;
  position: absolute;
  top: -1.75rem;
  left: -0.75rem;
}
@media (max-width: 1024px) {
  .desc-text {
    display: none;
  }
  .desc-text-mobile {
    display: block;
    font-family: var(--usiversltsd);
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  .read-more-text {
    line-height: 1.6;
    display: none;
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
  }
  .read-more {
    display: inline-block;
  }
  .read-more-text {
    display: none;
    overflow: hidden;
  }
  .show-read-more {
    display: inline;
    height: auto;
  }
}
@media (max-width: 800px) {
  .work-header-bg {
    padding-top: 0;
  }
  .work-header {
    position: relative;
    min-height: 65vh;
    width: 90%;
    margin: 0 auto;
  }
  #next-project-desktop {
    display: none;
  }
  #next-project-mobile {
    display: block;
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
  }
  .hamburger,
  .close-icon {
    display: block;
  }
  .nav-links {
    opacity: 0;
    transform: translateX(1000px);
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 95%;
    max-width: 500px;
    background: var(--black-clr);
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .show-nav-links {
    transform: translateX(0px);
    opacity: 1;
  }
  .nav-link {
    font-size: 2.5rem;
  }
  .social-link > img {
    width: 20px;
  }
  .nav-links > li {
    border-left: none;
    padding-left: 0;
  }
  .close-icon {
    position: absolute;
    top: 5%;
    right: 5%;
  }
}
@media (max-width: 640px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
  }
  .next-section-title {
    font-size: 4rem;
    top: 1.75rem;
  }
  .next-section-title::before {
    font-size: 1.75rem;
    left: -1.25rem;
    top: -1.75rem;
  }
  .next-section-subtitle {
    font-size: 2rem;
    top: 5.25rem;
  }
}
@media (max-width: 400px) {
  .next-section-title {
    font-size: 3.75rem;
  }
  .next-section-subtitle {
    font-size: 1.75rem;
    top: 5rem;
  }
}
