:root {
  /* fonts */
  --suprtall: 'suprtall';
  --usiversltsd: 'usiversltsd';

  /* colors */
  --white-clr: #fff;
  --black-clr: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--black-clr);
  color: var(--white-clr);
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

section {
  padding: 3rem 0;
}

.section-title {
  font-size: 4rem;
  font-family: var(--suprtall);
}

.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

/* nav */

nav {
  background: #000;

  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;

  transition: opacity 1s ease-in-out;
  transition-delay: 0.2s;
}

.slidedown {
  opacity: 1;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 0;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  display: inline-block;
  font-size: 1.75rem;
  font-family: var(--suprtall);
  color: var(--white-clr);
  text-decoration: none;
}

.nav-links > li {
  border-left: 3px solid var(--white-clr);
  padding-left: 1rem;
}
.nav-links > li:first-child {
  border-left: none;
  padding-left: 0;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.25rem;
}

.social-link {
  display: inline-block;
}

/* header */
.header-main {
  position: relative;
}

header {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.header {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-logo {
  margin-top: 5rem;
  max-width: 30rem;
  width: 80%;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.slideup {
  opacity: 1;
  transform: translateY(0px);
}

.tagline {
  color: var(--white-clr);
  text-align: center;
  font-family: var(--usiversltsd);
  font-weight: lighter;
  margin-top: 1rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 3rem;

  opacity: 0;
}

.fadein-animation {
  animation: fade-in-animation 3s ease-in-out forwards;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll-down-img {
  position: absolute;
  left: 0;
  bottom: 5%;
  transform: translateY(-20px);
  opacity: 0;
}

.fade-in-down-animation {
  animation: fade-in-down 2.5s ease-in-out infinite;
  animation-delay: 3.5s;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* hustle everyday section */

.section-one {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.section-one-left-col,
.section-one-right-col {
  grid-row: 1/-1;
}

.section-one-left-col {
  grid-column: 1/10;
  align-self: flex-start;
}

.section-one-right-col {
  grid-column: 8/-1;
  z-index: -1;
}

.section-one-title {
  font-size: 4rem;
  font-family: var(--suprtall);
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-one-text {
  font-family: var(--usiversltsd);
  font-weight: lighter;
  font-size: 1.75rem;
}

/* projects section */
.projects-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.project {
  position: relative;
}

.project-text {
  position: absolute;
  z-index: 5;
  top: 15%;
  left: 6%;
}

.project-title {
  font-family: var(--suprtall);
  font-size: 6rem;
  text-transform: uppercase;

  position: relative;
}

.project-desc {
  font-family: var(--usiversltsd);
  letter-spacing: 5px;
  font-size: 2rem;
  text-transform: uppercase;
}

.project-title::before {
  font-family: var(--usiversltsd);
  letter-spacing: 4px;
  font-size: 1.25rem;

  position: absolute;

  top: -20px;
  left: -18.5px;
  font-weight: lighter;
}

.branding::before {
  content: '01';
}

.illustration::before {
  content: '02';
}

.apparel::before {
  content: '03';
}

.shop::before {
  content: '04';
}

/* clients section */
.clients-served {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 3rem;
}

.clients-served-title {
  grid-column: 1/-1;
}

.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-logo > img {
  width: 90%;
  height: 60px;
  object-fit: contain;
  max-width: 80px;
}

/* footer */
footer {
  margin-top: 6rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
}

.footer-logo {
  max-width: 80px;
}

.footer-text {
  font-family: var(--usiversltsd);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
}

.social-links-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-link-footer > img {
  max-width: 20px;
}

/* preloader */
#preloader {
  background: #000;
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader-text {
  font-family: var(--suprtall);
  font-size: 4rem;
}
